:host {
  position: relative;
  display: block;
  top: 70px;
  height: 100dvh;
  background-color: var(--light-color);
  #logo {
    position: absolute;
    width: var(--logo-width);
    left: calc(50% - var(--logo-width) / 2);
    top: 30px;
    animation-name: logo;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

  }
  &::after {
    content: 'Good memories.';
    font-size: var(--slogan-font-size);
    font-weight: 700;
    position: absolute;
    color: var(--purple-color);
    left: 20%;
    bottom: 30%;
    animation-name: text;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

  }
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    left: calc(50vw - 25px);
    bottom: 10%;
    background-color: var(--purple-color);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    animation-name: down-arrow;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    img{
      width: 80%;
    }
  }
}

@keyframes logo {
  0%,
  20%,
  60%,
  80%,
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  10% {
    opacity: 0;
    transform: translate(0px, -30px);
  }
  70% {
    opacity: 0;
    transform: translate(-30px, 0px);
  }
}
@keyframes text {
  0%,
  80%,
  100%
   {
    content: "Good memories.";
    opacity: 1;
    transform: translate(0px, 0px);
  }
  20%,60% {
    content: 'Search for lyrics.';
    opacity: 1;
    transform: translate(0px, 0px);
  }
  10% {
    opacity: 0;
    transform: translate(30px, 0px);
  }
  70% {
    opacity: 0;
    transform: translate(0px, -30px);
  }
}

@keyframes down-arrow{
  0%,25%,100%{
    transform: translateY(0px);
  }
  5%,15%{
    transform: translateY(-10px);
  }
  10%,20%{
    transform: translateY(10px);
  }
}
