/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: "Cormorant", serif;
    font-size: var(--normal-font-size);
    --purple-color:#6C0345;
    --orange-color:#DC6B19;
   --yellow-color:#F7C566;
    --light-color:#FFF8DC;
    --logo-width:clamp(20rem,80%,50rem);
    --normal-font-size:clamp(1.2rem,1rem + 0.2vw,1.5rem);
    --title-font-size:clamp(3rem,2rem + 0.5vw,4rem);
}
